In [6]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# Challenge 1

In this challenge you will be working on **Pokemon**. You will answer a series of questions in order to practice dataframe calculation, aggregation, and transformation.

![Pokemon](../images/pokemon.jpg)

Follow the instructions below and enter your code.

#### Import all required libraries.

In [7]:
# import libraries
import pandas as pd
import numpy as np

#### Import data set.

Read the dataset `pokemon.csv` into a dataframe called `pokemon`.

*Data set attributed to [Alberto Barradas](https://www.kaggle.com/abcsds/pokemon/)*

In [8]:
# import dataset
file_loc = "Pokemon.csv"
pokemon = pd.read_csv(file_loc)

#### Print first 10 rows of `pokemon`.

In [9]:
# your code here
pokemon.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

When you look at a data set, you often wonder what each column means. Some open-source data sets provide descriptions of the data set. In many cases, data descriptions are extremely useful for data analysts to perform work efficiently and successfully.

For the `Pokemon.csv` data set, fortunately, the owner provided descriptions which you can see [here](https://www.kaggle.com/abcsds/pokemon/home). For your convenience, we are including the descriptions below. Read the descriptions and understand what each column means. This knowledge is helpful in your work with the data.

| Column | Description |
| --- | --- |
| # | ID for each pokemon |
| Name | Name of each pokemon |
| Type 1 | Each pokemon has a type, this determines weakness/resistance to attacks |
| Type 2 | Some pokemon are dual type and have 2 |
| Total | A general guide to how strong a pokemon is |
| HP | Hit points, or health, defines how much damage a pokemon can withstand before fainting |
| Attack | The base modifier for normal attacks (eg. Scratch, Punch) |
| Defense | The base damage resistance against normal attacks |
| SP Atk | Special attack, the base modifier for special attacks (e.g. fire blast, bubble beam) |
| SP Def | The base damage resistance against special attacks |
| Speed | Determines which pokemon attacks first each round |
| Generation | Number of generation |
| Legendary | True if Legendary Pokemon False if not |

#### Obtain the distinct values across `Type 1` and `Type 2`.

Exctract all the values in `Type 1` and `Type 2`. Then create an array containing the distinct values across both fields.

In [16]:
# your code here
concatenated_array = list(np.concatenate((pokemon['Type 1'].unique(), pokemon['Type 2'].unique())))
result = np.unique(concatenated_array)
result

array(['Bug', 'Dark', 'Dragon', 'Electric', 'Fairy', 'Fighting', 'Fire',
       'Flying', 'Ghost', 'Grass', 'Ground', 'Ice', 'Normal', 'Poison',
       'Psychic', 'Rock', 'Steel', 'Water', 'nan'], dtype='<U32')

#### Cleanup `Name` that contain "Mega".

If you have checked out the pokemon names carefully enough, you should have found there are junk texts in the pokemon names which contain "Mega". We want to clean up the pokemon names. For instance, "VenusaurMega Venusaur" should be "Mega Venusaur", and "CharizardMega Charizard X" should be "Mega Charizard X".

In [24]:
# your code here
def change(x):
  if "Mega" in x:
    return x[x.index("Mega"):]
  else:
    return x

pokemon['Name'] = pokemon['Name'].apply(lambda x: change(x))

# test transformed data
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

#### Create a new column called `A/D Ratio` whose value equals to `Attack` devided by `Defense`.

For instance, if a pokemon has the Attack score 49 and Defense score 49, the corresponding `A/D Ratio` is 49/49=1.

In [25]:
# your code here
pokemon['A/D Ratio'] = pokemon['Attack'] / pokemon['Defense']
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,1.000000
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,0.984127
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,0.987952
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,0.813008
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,1.209302

#### Identify the pokemon with the highest `A/D Ratio`.

In [31]:
# your code here
pokemon[pokemon['A/D Ratio'] == pokemon['A/D Ratio'].max()].Name

429    DeoxysAttack Forme
Name: Name, dtype: object

#### Identify the pokemon with the lowest A/D Ratio.

In [32]:
# your code here
pokemon[pokemon['A/D Ratio'] == pokemon['A/D Ratio'].min()].Name

230    Shuckle
Name: Name, dtype: object

#### Create a new column called `Combo Type` whose value combines `Type 1` and `Type 2`.

Rules:

* If both `Type 1` and `Type 2` have valid values, the `Combo Type` value should contain both values in the form of `<Type 1> <Type 2>`. For example, if `Type 1` value is `Grass` and `Type 2` value is `Poison`, `Combo Type` will be `Grass-Poison`.

* If `Type 1` has valid value but `Type 2` is not, `Combo Type` will be the same as `Type 1`. For example, if `Type 1` is `Fire` whereas `Type 2` is `NaN`, `Combo Type` will be `Fire`.

In [82]:
# your code here
def check(x):
  if pd.isna(x['Type 1']) and pd.isna(x['Type 2']):
    return x['Type 2']
  elif pd.isna(x['Type 1']):
    if not pd.isna(x['Type 2']):
      return x['Type 2']
  elif pd.isna(x['Type 2']):
    if not pd.isna(x['Type 1']):
      return x['Type 1']
  elif not pd.isna(x['Type 1']) and not pd.isna(x['Type 2']):
    return x['Type 1'] + "-" + x['Type 2']


pokemon['Combo Type'] = pokemon.apply(lambda x: check(x), axis=1)
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio,Combo Type
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,1.000000,Grass-Poison
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,0.984127,Grass-Poison
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,0.987952,Grass-Poison
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,0.813008,Grass-Poison
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,1.209302,Fire

#### Identify the pokemon whose `A/D Ratio` are among the top 5.

In [84]:
# your code here
pokemon.sort_values(by = ['A/D Ratio'], ascending=False).Name[:5]

429    DeoxysAttack Forme
347              Carvanha
19          Mega Beedrill
453              Cranidos
348              Sharpedo
Name: Name, dtype: object

#### For the 5 pokemon printed above, aggregate `Combo Type` and use a list to store the unique values.

Your end product is a list containing the distinct `Combo Type` values of the 5 pokemon with the highest `A/D Ratio`.

In [89]:
# your code here
combo_values = pokemon.sort_values(by = ['A/D Ratio'], ascending=False)['Combo Type'][:5].tolist()
combo_values

['Psychic', 'Water-Dark', 'Bug-Poison', 'Rock', 'Water-Dark']

#### For each of the `Combo Type` values obtained from the previous question, calculate the mean scores of all numeric fields across all pokemon.

Your output should look like below:

![Aggregate](../images/aggregated-mean.png)

In [96]:
# your code here
for com in combo_values:
  print(f"------------{com}---------------\n")
  print(pokemon[pokemon['Combo Type'] == com].mean())

------------Psychic---------------

#             381.973684
Type 2               NaN
Total         464.552632
HP             72.552632
Attack         64.947368
Defense        67.236842
Sp. Atk        98.552632
Sp. Def        82.394737
Speed          78.868421
Generation      3.342105
Legendary       0.236842
A/D Ratio       1.164196
dtype: float64
------------Water-Dark---------------

#             347.666667
Total         493.833333
HP             69.166667
Attack        120.000000
Defense        65.166667
Sp. Atk        88.833333
Sp. Def        63.500000
Speed          87.166667
Generation      3.166667
Legendary       0.000000
A/D Ratio       2.291949
dtype: float64
------------Bug-Poison---------------

#             199.166667
Total         347.916667
HP             53.750000
Attack         68.333333
Defense        58.083333
Sp. Atk        42.500000
Sp. Def        59.333333
Speed          65.916667
Generation      2.333333
Legendary       0.000000
A/D Ratio       1.315989
dtype: float64
------------Rock---------------

#             410.111111
Type 2               NaN
Total         409.444444
HP             67.111111
Attack        103.333333
Defense       107.222222
Sp. Atk        40.555556
Sp. Def        58.333333
Speed          32.888889
Generation      3.888889
Legendary       0.111111
A/D Ratio       1.260091
dtype: float64
------------Water-Dark---------------

#             347.666667
Total         493.833333
HP             69.166667
Attack        120.000000
Defense        65.166667
Sp. Atk        88.833333
Sp. Def        63.500000
Speed          87.166667
Generation      3.166667
Legendary       0.000000
A/D Ratio       2.291949
dtype: float64

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  after removing the cwd from sys.path.